.movies__cards {
  padding: 70px 70px 10px 70px;
}

.cards-list {
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 28px;
}

.cards__message {
  margin: 0;
  padding-bottom: 20px;
  font-size: 12px;
  text-align: center;
  color: #3456F3;
}

@media screen and (max-width: 768px) {
  .movies__cards {
    padding: 70px 30px 30px;
  }

  .cards-list {
    grid-template-columns: repeat(auto-fit, 342px);
    gap: 24px;
  }
}

@media screen and (max-width: 550px) {
  .movies__cards {
    padding: 40px 10px 0;
  }

  .cards-list {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
