.content__promo {
  padding: 0 70px;
}

.promo {
  display: flex;
  flex-direction: column;
  background-color: #dddee3;
}

.promo__title {
  margin: 50px 0 102px 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  max-width: 626px;
}

.promo__lines {
  width: 722px;
  height: 244px;
  margin-bottom: 60px;
  align-self: flex-end;
}

.promo__line {
  opacity: 0.7;
  color: #1d1d1d;
}
