.cards__more {
  padding: 50px 0 80px;
}

.more {
  display: flex;
  justify-content: center;
}

.more__button {
  margin: 0;
  padding: 11px 0 9px;
  border: none;
  width: 1140px;
  background-color: #f4f4f4;
  font-size: 12px;
}
