.navbar {
  display: flex;
}

.navbar__container {
  margin: 0;
  padding-left: 62px;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 13px;
  gap: 16px;
}

.navbar__container_mobile {
  margin-top: 136px;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

.navbar__item {
  align-self: center;
  cursor: pointer;
}

.navbar__item_mobile {
  margin-bottom: 28px;
}

.navbar__item_mobile:last-child {
  margin-bottom: 0;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

.navbar__link_desktop {
  font-weight: 500;
}

.navbar__link_mobile {
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .page__header {
    padding: 0 30px;
  }

  .navbar__container {
    display: none;
  }

  .navbar__container_mobile {
    display: flex;
    gap: 0;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .page__header {
    padding: 0 14px;
  }

  .navbar__container_mobile {
    margin-top: 144px;
  }
}
