.movies__search {
  padding: 80px 70px 10px;
}

.search__container {
  border-bottom: 1px solid rgba(66.67, 66.67, 66.67, 0.2);
  padding-bottom: 83px;
  display: grid;
  grid-template-columns: 81% 19%;
}

.search__form {
  width: 100%;
  position: relative;
}

.search__input {
  padding: 15px 68px 15px 22px;
  width: 100%;
  border: 1.5px solid rgba(62.7, 62.7, 62.7, 0.2);
  border-radius: 50px;
  font-size: 14px;
  color: #a0a0a0;
  outline: none;
}

.search__input::-webkit-search-cancel-button{
  display: none;
}

.search__error {
  min-height: 24px;
  margin: 10px 0 0 22px;
  font-size: 12px;
  color: #ee3465;
  visibility: hidden;
}

.search__error_visible {
  visibility: visible;
}

.search__button {
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  padding: 0;
  background-color: #3456f3;
  color: #fff;
  width: 58px;
  height: 34px;
  font-size: 11px;
  line-height: 18px;
  border-radius: 48px;
  cursor: pointer;
}

.search__button:disabled {
  background-color: #a0a0a0;
  cursor: default;
}

@media screen and (max-width: 1100px) {
  .search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search__error {
    margin-bottom: 38px;
  }

  .search__input:focus {
    outline: #3456F3 solid 1px;
  }
}

@media screen and (max-width: 768px) {
  .movies__search {
    padding: 60px 30px 10px;
  }

  .search__container {
    padding-bottom: 57px;
  }
}

@media screen and (max-width: 550px) {
  .movies__search {
    padding-left: 10px;
    padding-right: 10px;
  }

  .search__container {
    padding-bottom: 57px;
  }

  .search__error {
    margin-bottom: 45px;
  }
}
