.movies__search {
  padding: 80px 70px 10px;
}

.search {

}

.search__container {
  border-bottom: 1px solid rgba(66.67, 66.67, 66.67, 0.2);
  padding-bottom: 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__form {
  position: relative;
}

.search__input {
  padding: 15px 0 15px 22px;
  width: 907px;
  border: 1.5px solid rgba(62.7, 62.7, 62.7, 0.2);
  border-radius: 50px;
  font-size: 14px;
  color: #a0a0a0;
  outline: none;
}

.search__button {
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  padding: 0;
  background-color: #3456f3;
  color: #fff;
  width: 58px;
  height: 34px;
  font-size: 11px;
  line-height: 18px;
  border-radius: 48px;
}
