.movies__search {
  padding: 80px 70px 94px;
}

.search {

}

.search__form {
  width: 932px;
  position: relative;
}

.search__input {
  padding: 15px 0 15px 22px;
  width: 932px;
  border: 1.5px solid rgba(62.7, 62.7, 62.7, 0.2);
  border-radius: 50px;
  font-size: 14px;
  color: #a0a0a0;
  outline: none;
}

.search__button {
  position: absolute;
  top: 7px;
  right: -17px;
  border: 0;
  padding: 0;
  background-color: #3456f3;
  color: #fff;
  width: 58px;
  height: 34px;
  font-size: 11px;
  line-height: 18px;
  border-radius: 48px;
}
