.content__about {
  padding: 110px 70px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about__container {
  padding: 70px 0 110px 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  /*gap: 40px;*/
  list-style: none;
}

.about__title {
  margin: 0 0 26px 0;
  font-size: 20px;
  font-weight: 400;
}

.about__paragraph {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  max-width: 550px;
}

.about__duration {
  display: grid;
  grid-template-columns: 20% 80%;
}

.about__item {
  margin: 0;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
}

.about__item_backend {
  background-color: #3456F3;
  color: #fff;
}

.about__item_frontend {
  background-color: #f2f2f2;
}

.about__sign {
  margin: 14px 0 0 0;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .content__about {
    padding: 90px 50px;
  }
  .about__container {
    padding-bottom: 93px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .about__title {
    margin-bottom: 22px;
  }
  .about__paragraph {
    font-size: 12px;
  }
}
