.content__student {
  padding: 110px 70px 100px 70px;
}

.student {
  display: flex;
  flex-direction: column;
}

.student__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student__name {
  margin: 66px 0 18px 0;
  font-size: 50px;
  font-weight: 400;
}

.student__intro {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 500;
}

.student__description {
  margin: 0 0 99px 0;
  max-width: 600px;
  min-height: 88px;
  font-size: 14px;
}

.student__image {
  width: 270px;
  height: 327px;
  align-self: flex-end;
  background:  center /cover url('../../images/student.JPG');
  border-radius: 10px;
}

.student__media {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.student__link {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1025px) {
  .student__description {
    max-width: 440px;
  }
}

@media screen and (max-width: 769px){
  .content__student {
    padding: 90px 50px;
  }
  .student__name {
    margin-bottom: 16px;
    font-size: 40px;
  }
  .student__intro {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .student__description {
    max-width: 364px;
    margin-bottom: 87px;
    font-size: 12px;
  }
  .student__image {
    width: 255px;
    height: 307px;
  }
}
